header{
	background-color: #B3B3B3;
}
h1{
	color: #FFFFFF;
	text-align: center;
	font-variant: small-caps;
	text-transform: uppercase;
}
section{
	background-color: #666666;
}
a{
	background-color: #D4D4D4;
	color: #000000;
}
aside{
	display: none;
}
h2{
	font-variant: small-caps;
	text-transform: uppercase;
	color: #000D70;
}